VITE_FIREBASE_API_KEY=AIzaSyCE3ojPiNK01kGxGri5mmk_XROFneuqyvg
VITE_FIREBASE_AUTH_DOMAIN=decisionmaking-48cba.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=decisionmaking-48cba
VITE_FIREBASE_STORAGE_BUCKET=decisionmaking-48cba.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=652655215612
VITE_FIREBASE_APP_ID=1:652655215612:web:bd781a6f7eb112b42be879
VITE_FIREBASE_MEASUREMENT_ID=G-D7JX1TXH6K